.field {
    position: relative;
    display: grid;
    grid-template-columns: minmax(70px, 8vw) repeat(11, 1fr) minmax(70px, 8vw);
    grid-template-rows: minmax(140px, 8vw) repeat(7, 1fr) minmax(140px, 8vw);
    width: 100vw; 
    height: 100vh;
}

.field__cell {
    position: relative;
    border: 1px solid black;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.field__cell__title{
    text-transform: uppercase;
    font-size: clamp(7px, 1vw, 14px);
    margin: 0;
    text-align: center;
    line-height: 1.1;
}   


/* UP */
.field__cell__image{
    background: linear-gradient(0deg,rgba(240, 194, 247, 1) 0%, rgba(209, 5, 234, 1) 100%);
}

.field__cell__tax{
    background: linear-gradient(0deg,rgba(165, 167, 6, 1) 0%, rgba(240, 242, 93, 1) 100%);
}

.field__cell__negativeReputation{
    background: linear-gradient(45deg,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

.field__cell__ads{
    background: linear-gradient(140deg,rgba(203, 247, 202, 1) 0%, rgba(100, 211, 19, 1) 100%);
}

.field__cell__casino{
    background: linear-gradient(0deg,rgba(149, 219, 252, 1) 0%, rgba(249, 143, 157, 1) 100%);
}

.field__cell__salary{
    background: linear-gradient(12deg,rgba(147, 221, 255, 1) 0%, rgba(54, 75, 251, 1) 100%);
}

.field__cell__vacation{
    background: linear-gradient(0deg,rgba(237, 227, 200, 1) 0%, rgba(248, 242, 220, 1) 11%, rgba(78, 205, 215, 1) 17%, rgba(86, 171, 230, 1) 24%, rgba(183, 231, 254, 1) 33%, rgba(0, 133, 212, 1) 58%, rgba(5, 71, 111, 1) 100%);
}

.field__cell__client{
    background: linear-gradient(0deg,rgba(174, 79, 175, 1) 0%, rgba(253, 76, 243, 1) 100%);
}

.field__cell__random{
    background: linear-gradient(0deg,rgba(154, 245, 163, 1) 0%, rgba(0, 158, 21, 1) 100%);
}

.field__cell__director{
    background: linear-gradient(0deg,rgba(146, 218, 255, 1) 0%, rgba(72, 22, 239, 1) 100%);
}

.field__cell__reputation{
    background: linear-gradient(142deg,rgba(207, 215, 68, 1) 0%, rgba(166, 200, 96, 1) 25%, rgba(117, 182, 131, 1) 50%, rgba(68, 162, 166, 1) 75%, rgba(3, 138, 212, 1) 100%);
}

.field__cell__start{
    position: relative;
}

/* UP end*/

/* Factory & Tender */
.field__cell__factory{
    background: linear-gradient(142deg,rgba(255, 118, 118, 1) 0%, rgba(255, 132, 143, 1) 25%, rgba(255, 158, 172, 1) 50%, rgba(255, 198, 208, 1) 75%, rgba(255, 219, 227, 1) 100%);
}

.field__cell__tender{
    background: linear-gradient(0deg,rgba(202, 225, 224, 1) 0%, rgba(213, 225, 182, 1) 57%, rgba(242, 205, 84, 1) 78%, rgba(251, 198, 55, 1) 100%);
}
/* Factory & Tender end */

.center {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  
  background-color: #ff628f;
  border: 10px solid black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.field-center {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}

/* Налаштування центру */
.center-new {
  grid-column: 2 / 6;
  grid-row: 2 / 5;
  background: url('../materials/field_center.jpg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

/* Базовий стиль клітинки для scannability */
.field-center__cell {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
  text-align: center;
}

#start{
    font-size: 50px;
    font-weight: 600;
}

.field__cell__deal{
    background: linear-gradient(0deg,rgba(253, 48, 125, 1) 0%, rgba(255, 151, 152, 1) 100%);
}

.field__cell__deal img{
    max-width: 150px;
}